<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MainDB" connectionString="Data Source=srv01;Initial Catalog=AppDB;User ID=dbuser;Password=DbPass123;" />
  </connectionStrings>
  <appSettings>
    <add key="AdminPassword" value="AdminSecret123" />
  </appSettings>
</configuration>
